<section id="proyectos"  class="proyectos">
    <h1>Proyectos</h1>

    <div class="tablero-wrap">
        <img class="tablero" src="../../../assets/images/tablero.png" alt="Tablero de proyectos">
        
        <div class="postits-column">
            <div class="postits-row">
                <a href="https://www.santuariochandavila.com" target="_blank">
                    <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Página web del Santuario de Chandavila</h3>
                        <p>Desarrollo de la web del Santuario</p>
                    </mat-card-content>
                </mat-card>
                </a>
                <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Proyecto 2</h3>
                        <p>API de tareas</p>
                    </mat-card-content>
                </mat-card>
                 <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Proyecto 1</h3>
                        <p>Portfolio Angular</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="postits-row">
                <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Proyecto 3</h3>
                        <p>App de inventario</p>
                    </mat-card-content>
                </mat-card>

                 <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Proyecto 1</h3>
                        <p>Portfolio Angular</p>
                    </mat-card-content>
                </mat-card>

                 <mat-card appearance="outlined" class="postit-card">
                    <mat-card-content>
                        <h3>Proyecto 1</h3>
                        <p>Portfolio Angular</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="zona-investigacion">
            <img class="mapa" src="../../../assets/images/mapa.png" alt="Mapa de investigacion">
            <img class="interrogacion-sm i1" src="../../../assets/images/posit-interrogacion.png" alt="Nota de interrogacion">
            <img class="interrogacion-sm i2" src="../../../assets/images/posit-interrogacion.png" alt="Nota de interrogacion">
            <img class="interrogacion-sm i3" src="../../../assets/images/posit-interrogacion.png" alt="Nota de interrogacion">
            <img class="interrogacion-sm i4" src="../../../assets/images/posit-interrogacion.png" alt="Nota de interrogacion">
        </div>
    </div>
</section>
