<h1>Sobre mí</h1>
<div class="carpeta-wrap">
  <img src="../../../assets/images/carpeta-abierta.png" alt="" class="carpeta-img" />
  <div class="info">
    <p><b>Nombre:</b> David Muñoz Collado</p>
    <p><b>Fecha de nacimiento:</b> 23/04/2006</p>
    <p><b>Lugar de residencia:</b> Mérida</p>
    <b>Educación: </b>
    <ul>
      <li>Grado Medio en Sistemas Microinfomáticos y redes</li>
      <li>Desarrllo de Aplicaciones Multiplataforma (Actualmente)</li>
    </ul>
    <b>Idiomas: </b>
    <ul>
      <li>B1 de inglés</li>
      <li>B2 de inglés</li>
    </ul>
  </div>
  <img class="sello-circular" src="../../../assets/images/sello-circulo-confidencial.png" alt="">
  <div class="clip">
    <img src="../../../assets/images/clip.png" class="clip-img" alt="Clip" />
  </div>
  <div class="foto">
    <img src="../../../assets/images/persona.jpg" class="foto-img" alt="Foto de perfil" />
  </div>
</div>
