// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #f5ecd9;
  cursor: url('assets/images/cursor.png') 2 2, auto;
}

a,
button,
[class*="mat-mdc"],
.mdc-button,
.mdc-icon-button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: url('assets/images/cursor-enlace.png') 4 4, pointer !important;
}

a:hover,
button:hover,
[class*="mat-mdc"]:hover,
.mdc-button:hover,
.mdc-icon-button:hover,
[role="button"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
a:focus-visible,
button:focus-visible,
[class*="mat-mdc"]:focus-visible,
.mdc-button:focus-visible,
.mdc-icon-button:focus-visible,
[role="button"]:focus-visible {
  cursor: url('assets/images/cursor-enlace.png') 4 4, pointer !important;
}

:root {
    --papel: #F5ECD9;
    --sepia: #D2BA91;
    --ocre: #BC9B6A;
    --marron: #6F4E37;
    --granate: #B03A2E;
    --gris: #A6A29E;
    --azul: #56707F;
    --verde: #70846C;
}
